html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    -height: 100vh;
    background-image: linear-gradient( to right, #333333 50%, #FEFFFD 50%);
    text-align: center;
    align-items: center;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    width: 70%;
    height: 15%;
    -background: orange;
    position: relative;
    margin-left: 20%;
    margin-top:1%;
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    align-items: center;
    
}

.item1 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-bottom: 120px;
  }

  .item2 {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .item2 h2 {
      margin-bottom: 0;
      margin-left: 7%;
      height: 50px;
  }

  .item2 sub {
      margin-top: 0;
      margin-left: 40%;
      font-size: 1.5rem;
  }

.profile {
    margin: 5%;
    margin-left: -20%;

}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}


.post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    width: 70%;
    height: 30%;
    background: orange;
    position: relative;
    margin-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
.post:hover {
    transition: all 0.3s;
    box-shadow: 5px 5px 5px gainsboro;
}