html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    -height: 100vh;
    background-image: linear-gradient( to right, #333333 50%, #faf9f5 50%);
    text-align: center;
    align-items: center;
    font-family: Montserrat,sans-serif;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    width: 70%;
    height: 15%;
    -background: orange;
    position: relative;
    margin-left: 20%;
    margin-top:1%;
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    align-items: center;
    margin-bottom: 2%;
    
}



.item1 {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .item2 {
    grid-column-start: 3;
    grid-column-end: 6;
    text-align: left;
    margin-left: 10%;
  }

  .item2 h2 {
      margin-bottom: 0;
      margin-left: 7%;
      height: 50px;
  }

  .item2 sub {
      margin-top: 0;
      margin-left: 40%;
      font-size: 1.5rem;
  }

.profile {
    margin: 5%;
    margin-left: -20%;

}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}


.post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1px;
    text-align: center;
    width: 60%;
    height: 25%;
    -background: orange;
    position: relative;
    margin-left: 20%;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

.post h2, h3 {
    margin-block-end: 0.4rem;
    margin-block-start: 0.4rem;
}

.post h4, h5 {
    margin-block-end: 0rem;
    margin-block-start: 0rem;
}

.post a {
    cursor: pointer;
}
.post:hover {
    transition: all 0.3s;
    box-shadow: 5px 5px 5px gainsboro;
}

.post-left {
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;
    margin-right: 10%;
}

.post-link {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: left;
    margin-left: 10%;
    opacity: 80%;
  }



  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  /* Extra small devices (phones, 600px and down) */

  @media only screen and (max-width: 640px) {
    .item2 h2 {
       font-size: 3rem;
       margin-left: 3%;
    }

}

@media only screen and (max-width: 1065px) {
    .item2 sub {
       -width: 70%;
       font-size: 1.3rem;
       margin-left: 10%;
       margin-bottom: 20%;
    }

    .item2 h2 {
        margin-block-end: 0em;
    }

}

  @media only screen and (max-width: 1130px) {
    .post {
        font-size: 0.8rem;
    }
    .head {
        display: none;
    }

}
@media only screen and (max-width: 1130px) {
    .post-left {
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media only screen and (max-width: 1275px) {
    .item2 h2 {
        margin-left: 1%;
        height: 3%;
    }

}

